* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  line-height: 1;
  font-weight: 400;
  overflow: hidden;

  display: flex;
  transition: all 0.1s;
}

/*******************************/
/* GENERAL REUSABLE COMPONENTS */
/*******************************/

.container {
  /* or 1140px */
  max-width: 130rem;
  height: 100vh;
  margin: auto auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 0.1rem;
  row-gap: 0.1rem;
  width: 70%;
  height: 95%;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
